@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>


<address>
    UNIVEM <br />
    Lab.01 ou 03 - Segunda e Quinta (19:20 - 21:00)<br />
    R. Hygino Muzi Filho, 529 - Marília-SP<br />

   
</address>

<address>
    <strong>Gabriel Perinetti:</strong>   <a href="mailto:gabriel.perinetti@brudden.com.br">gabriel.perinetti@brudden.com.br</a><br />
    <strong>Pedro Abelha:</strong> <a href="mailto:pedro.gomes@brunnschweiler.com.br">pedro.gomes@brunnscheweiler.com.br</a>
</address>