@{
    ViewBag.Title = "Informações";
}

<div class="jumbotron">
    <h1 align="center">Avaliação P.O</h1>
    <br>
    <p class="lead" align="center">O <b>SisPed</b> foi desenvolvido para avaliação da disciplina de Implementação de Sistemas de Informação.</p>
    <b />
    <p class="lead" align="center">Para fazer o Download do projeto é só clicar no botão abaixo!</p>
    <p align="center"><a href="https://github.com/gaperinetti/SisPed" class="btn btn-primary btn-lg">GitHub &raquo;</a></p>
</div>

